// Paths
@chosenPath: "@{vendorsPath}/bootstrap-chosen";

// Default theme
@import "@{chosenPath}/bootstrap-chosen-variables";
@chosen-sprite-path: '/hippo-theme-demo/components/bootstrap-chosen/chosen-sprite.png';
@import "@{chosenPath}/bootstrap-chosen";

// Overrides
.chosen-container {
    .chosen-choices, .chosen-single {
        border-radius: @chosen-border-radius;
    }

    .search-choice-close {
        cursor: pointer;
    }
}

.chosen-container-single {
    .chosen-single {
        background-image: none;
    }
}

.chosen-container-single, .chosen-container-active.chosen-with-drop {
    .chosen-single {
        background-color: #ffffff;
    }
}

.chosen-container-single .chosen-default {
    color: #ccd1d8;
}