// Colors
@brand-primary:             #f4764c;

// Typography
@font-family-sans-serif:    Helvetica, Arial, sans-serif;

// Panels
@panel-border-radius:4px;
@panel-footer-bg:           #f7f7f7;
@panel-default-heading-bg:  #f7f7f7;

// Grays
// -------------------------
//@gray-darker:             blue; //lighten(#000, 13.5%); // #222
@gray-dark:                 #2c2c2d; //body text
//@gray:                    yellow; //lighten(#000, 33.5%); // #555
@gray-light:                #ccd1d8; //line border, secondary links
@gray-lighter:              #f7f7f7; //background color


// Breadcrumbs
// -------------------------
@breadcrumb-bg:             #f5f5f5;
@breadcrumb-color:          @gray-dark;
@breadcrumb-active-color:   @gray-dark;

// Tables
// -------------------------
@table-radius: 		  		@border-radius-base;

// Typography
// -------------------------
@font-size-h1:            floor((@font-size-base * 1.6));
@link-color:              #0467b4;
